.header {
  font-size: 12px;
  font-weight: bold;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.size-arrow {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.size-img {
  width: 240px;
  margin-left: -10px;
  margin-right: 40px;
}
