.container00 {
  &.container05 {
    background-image: url(../img/falcon9/01.jpg);
  }
  &.container06 {
    background-image: url(../img/falcon9/02.jpg);
  }
  &.container07 {
    background-image: url(../img/falcon9/08.jpg);
  }
  &.carrossel01 {
    background-image: url(../img/falcon9/03.jpg);
  }
  &.carrossel02 {
    background-image: url(../img/falcon9/04.jpg);
  }
  &.carrossel03 {
    background-image: url(../img/falcon9/05.jpg);
  }
  &.carrossel04 {
    background-image: url(../img/falcon9/06.jpg);
  }
  &.carrossel05 {
    background-image: url(../img/falcon9/07.jpg);
  }
}

.title-falcon {
  font-size: 95px;
  font-weight: bold;
}

.title-values {
  font-size: 90px;
  font-weight: 500;
}

.text-falcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.change-text {
  padding-top: 10%;
  font-size: 20px;
  line-height: 50px;
  padding-left: 8%;
}

.text-color {
  color: white !important; 
}

.overView-position {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.height-img {
  img {
    height: 100vh;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-change {
  border: 2px solid white;
  padding: $padding-button;
}

@media (max-width: 1024px) {
  .title-values {
    font-size: 50px;
  }
  .change-text {
    font-size: 15px;
  }
  .overView-position {
    display: block;
    width: 500px;
    margin-left: 8%;
    padding-top: 12%;
  }
}

@media (max-width: 555px) {
  .title-falcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
  }
  .responsive-fit {
    font-size: 13px;
    padding-bottom: 15px;
    margin-bottom: -5px;
  }
  .text-falcon {
    display: flex;
    flex-direction: column;
  }
  .container-falcon {
    display: flex;
    justify-content: center;
  }
  .change-text{
    padding-top: 5%;
    line-height: 25px;
  }
  .overView-position {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: auto;
  }
  .info-container {
    text-align: center;
    display: flex;
    flex-direction: column;

    button {
      margin-top: 15px;
    }
  }
  .title-padding {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}